checkver:
  type: script
  script: |
    $response = Invoke-WebRequest -Uri "https://developer.arm.com/Tools%20and%20Software/Arm%20Performance%20Libraries#Downloads" -UseBasicParsing
    Write-Output $response.Content
  regex: "arm-performance-libraries_(?<versionRaw>[\\d.]+)_Windows\\.msi"
  replace: "${1}"

installerUrlTemplate:
  arm64: "https://developer.arm.com/-/cdn-downloads/permalink/Arm-Performance-Libraries/Version_{versionRaw}/arm-performance-libraries_{versionRaw}_Windows.msi"
