checkver:
  type: script
  script: |
    # Get version from release notes
    $notesUrl = "https://learn.microsoft.com/en-us/deployedge/microsoft-edge-relnote-stable-channel"
    $notesResponse = Invoke-WebRequest -Uri $notesUrl -UseBasicParsing
    $version = ""
    if ($notesResponse.Content -match '>Version (\d+(?:\.\d+)+)') {
      $version = $matches[1]
    }
    
    # Get GUIDs from Edge for Business download page
    $pageUrl = "https://www.microsoft.com/en-us/edge/business/download"
    $pageResponse = Invoke-WebRequest -Uri $pageUrl -UseBasicParsing
    $content = $pageResponse.Content
    
    # Extract download links for Stable channel (appears first in the page)
    $matches = [regex]::Matches($content, 'https://msedge\.sf\.dl\.delivery\.mp\.microsoft\.com/filestreamingservice/files/([a-f0-9\-]+)/MicrosoftEdgeEnterprise(ARM64|X64|X86)\.msi')
    
    $guids = @{}
    for ($i = 0; $i -lt [Math]::Min($matches.Count, 3); $i++) {
      $arch = $matches[$i].Groups[2].Value.ToLower()
      $guid = $matches[$i].Groups[1].Value
      $guids[$arch] = $guid
    }
    
    Write-Output "$version|$($guids['x86'])|$($guids['x64'])|$($guids['arm64'])"
  regex: "(?P<version>[\\d\\.]+)\\|(?P<guid_x86>[a-f0-9\\-]+)\\|(?P<guid_x64>[a-f0-9\\-]+)\\|(?P<guid_arm64>[a-f0-9\\-]+)"

installerUrlTemplate:
  x86: "https://msedge.sf.dl.delivery.mp.microsoft.com/filestreamingservice/files/{guid_x86}/MicrosoftEdgeEnterpriseX86.msi"
  x64: "https://msedge.sf.dl.delivery.mp.microsoft.com/filestreamingservice/files/{guid_x64}/MicrosoftEdgeEnterpriseX64.msi"
  arm64: "https://msedge.sf.dl.delivery.mp.microsoft.com/filestreamingservice/files/{guid_arm64}/MicrosoftEdgeEnterpriseARM64.msi"
