checkver:
  type: script
  script: |
    # Get version from release notes
    $notesUrl = "https://learn.microsoft.com/en-us/deployedge/microsoft-edge-relnote-stable-channel"
    $notesResponse = Invoke-WebRequest -Uri $notesUrl -UseBasicParsing
    $version = ""
    if ($notesResponse.Content -match '>Version (\d+(?:\.\d+)+)') {
      $version = $matches[1]
    }
    
    # Get GUID from redirect
    try {
      $dlUrl = "https://go.microsoft.com/fwlink/?linkid=2093437"
      $dlResponse = Invoke-WebRequest -Uri $dlUrl -Method Head -MaximumRedirection 0 -ErrorAction Stop
    } catch {
      if ($_.Exception.Response.Headers.Location) {
        $location = $_.Exception.Response.Headers.Location.AbsoluteUri
        if ($location -match '/([a-f0-9\-]+)/MicrosoftEdgeEnterprise') {
          $guid = $matches[1]
          Write-Output "$version|$guid"
        }
      }
    }
  regex: "(?P<version>[\\d\\.]+)\\|(?P<guid>[a-f0-9\\-]+)"

installerUrlTemplate:
  x86: "https://msedge.sf.dl.delivery.mp.microsoft.com/filestreamingservice/files/{guid}/MicrosoftEdgeEnterpriseX86.msi"
  x64: "https://msedge.sf.dl.delivery.mp.microsoft.com/filestreamingservice/files/{guid}/MicrosoftEdgeEnterpriseX64.msi"
  arm64: "https://msedge.sf.dl.delivery.mp.microsoft.com/filestreamingservice/files/{guid}/MicrosoftEdgeEnterpriseARM64.msi"
